.about,
.menu {
  padding: 30px;
}
.about-description {
  max-width: 540px;
}
p {
  padding: 1em;
  clear: both;
}

section:after,
.hours_wrapper:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}
