/**
1. Add font files to `src/assets/fonts`
2. Add @font-face declarations here to define the font
3. Update fontFamily in tailwind.config.css

For example:

@font-face
{
  font-family: 'Proxima Nova';
  src: url('/src/assets/fonts/ProximaNova.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*/

@font-face {
  font-family: "Uniform";
  src: url("/src/assets/fonts/Uniform.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

element.style {
  left: -381px;
}
.transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
}
.relative {
  position: relative;
}
.left-0 {
  left: 0;
}
